.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.buttons button {
  background-color: rgb(86, 53, 23);
  color: rgb(230, 226, 220);
  border: 1px solid rgb(39, 19, 0);
  border-radius: 5px;
  height: 30px;
  width: 60px;
}
